section{
    margin: 100px 20px 0px 20px;
}

.section-title{
    margin-bottom: 10px;
}

.card-grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
}

.card{
    text-align: center;
    padding: 5px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.card:hover{
    transform: translateY(-5px);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}